<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1> My Jupyter Notebook on IBM Watson Studio </h1>

## EMMANUEL AGYAPONG JNR

I ASPIRE TO BE A DATA SCIENTIST

*I am interested in data science because I love to help people and with the skills attained in data science, i can be of great help in major fields for eg. aviation, health etc.

<h3>The code below displays a basic python arithmetic (i.e addition and substraction)</h3>

In [6]:
a = 6
b = 4
c = 3

a + b - c

7

Horizontal line
----------------------------------------------------------

Bullet list
- Food
- Water

Number list
1. Rice
2. Flavoured water


<table>
    <tr>
     <th>Name</th>
     <th>Age</th>
    </tr>
    <tr>
        <td>Amy Smith</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Jon</td>
        <td>25</td>
    </tr>
</table>